body{
    margin:0;
    padding: 0;
    font-family: 'Tagesschrift', sans-serif;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    background-color: lightblue;
}

#infoContainer{
    width: 100vw;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.wrong-button{
    background-color: red !important;
}

.right-button{
    background-color: lightgreen !important;
}

.right-word{
    background-color: green !important;
}


#results{
    width: 100vw;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#wordDiv{
    font-size: 36px;
}

#score{
    display: none;
}