body{
    margin: 0;
    padding: 0;
    font-family: "Tagesschrift";
}

table, th, td {
    border:1px solid black;
  }

#container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    background-color: rgb(201, 153, 48);
}

#infoContainer{
    width: 100vw;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#containerBelow{
    background-color: rgb(153, 23, 49);
    color:white;
    display: none;
}

.wrong-button{
    background-color: red !important;
}

.right-button{
    background-color: lightgreen !important;
}

.right-word{
    background-color: green !important;
}

#results{
    width: 100vw;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#wordDiv{
    font-size: 36px;
}

#score{
    display: none;
}
#scorePic{
    display: flex;
    height: 200px;
    width: 200px;
}

#score:hover{
    font-size: 50px;
    border: 2px solid black;
}

#scorePic:hover{
    height: 300px;
    width: 300px;
}

#loadResults:hover, #hideResults:hover{
    background-color: Red;
}

.tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
  }


/*Modal võetud kasutusele w3school lehelt*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  